<section class="section about">
  <div class="container">
    <div class="about__content">
      <div class="title-box">
        <h2 class="title-box__title about__title icon icon-fb">
          About Us
        </h2>
        <div class="title-box__decor"></div>
      </div>
      <div class="about__info">
        <p> MetalTech Innovations, a proudly Canadian-owned and locally operated metal fabrication leader, has been
          serving western Canada with top-notch roll-formed steel roofing and siding solutions since 2020.</p>
        <p class="decor">
          Our expansive facility, boasting cutting-edge <span>CNC technology</span>, empowers us to produce over 20
          distinct product
          profiles,
          alongside a vast array of custom and standard flashing profiles
        </p>
        <p>
          Driven by a steadfast commitment to timely delivery and efficient production, we've earned a reputation for
          <span>excellence</span> and reliability in our industry.
        </p>
        <p>
          At MetalTech Innovations, sustainability is paramount. Our materials, derived from <span>90% recycled
            steel</span>,
          not
          only offer superior performance but also reflect the vibrant colors, textures, and styles inspired by modern
          contemporary designs.
        </p>
      </div>
    </div>
  </div>
</section>