<section class="section section--dark gallery">
  <div class="container">
    <div class="category__top">
      <div class="title">
        <h2 class="title__text about__title">
          About Us
        </h2>
        <div class="title__decor"></div>
      </div>
      <a href="#" class="link gallery__link"></a>
    </div>
    <ul class="gallery__list">
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <h3 class="gallery__title title">
            Alpine industrial park
          </h3>
          <img class="gallery__img" src="" alt="" loading="lazy" width="370" height="500">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <h3 class="gallery__title title">
            Victoria on fifth
          </h3>
          <img class="gallery__img" src="" alt="" loading="lazy" width="370" height="500">
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link" href="#">
          <h3 class="gallery__title title">
            Northwest health center
          </h3>
          <img class="gallery__img" src="" alt="" loading="lazy" width="370" height="500">
        </a>
      </li>
    </ul>
  </div>
</section>