<div class="section hero" style="background-image: url('./images/image/hero.wpeb');">
  <div class="container">
    <h1 class="hero__title title">
      Roofing & Cladding
    </h1>
    <p class="hero__text">
      A strong commitment to customer satisfaction and competitive pricing is what sets us apart from competitors
    </p>
    <div class="hero_bottom">
      <a class="button hero__button" href="#"></a>
      <a class="button button--secondary hero__button" href="#"></a>
    </div>
  </div>
</div>