<section class=" hero">

  <div class="container">
    <div class="hero__content">
      <img class="hero__img" src="./images/image/hero.webp" alt="">
      <h1 class="hero__title title">
        Roofing & Cladding
      </h1>
      <p class="hero__subtitle">
        A strong commitment to customer satisfaction and competitive pricing is what sets us apart from competitors
      </p>
      <div class="hero__buttons">
        <a href="#" class="button">View Product</a>
        <a href="#" class="button button--secondary">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="hero__decor"></div>
</section>