<section class="section warranties">
  <div class="container">
    <div class="warranties__inner">
      <div class="title-box">
        <h2 class="title-box__text about__title">
          About Us
        </h2>
        <div class="title-box__decor"></div>
      </div>
      <a href="#" class="link category__link"></a>
    </div>
    <div class="warranties__info">
      <p>
        We guarantee that your MetalTech Innovations Limited Lifetime Warranted metal panels will be devoid of any
        manufacturing
        defects in the painted finish and the fabricated panels, which significantly impact the performance of the metal
        roof.
      </p>
      <ul class="list warranties__list">
        <li>
          The painted finish will withstand natural weathering and maintain its color, resisting fading, chalking, or
          cracking to an extent discernible through regular visual inspection.
        </li>
        <li>
          Our metal panels will remain intact, structurally sound, and impervious to perforation under normal
          atmospheric conditions, ensuring long-lasting durability and performance.
        </li>
      </ul>
      <a class="button" href="#">Register Your Warranty</a>
    </div>
  </div>
</section>