<section class="section section--dark category">
  <div class="container">
    <div class="category__top">
      <div class="title">
        <h2 class="title__text about__title">
          About Us
        </h2>
        <div class="title__decor"></div>
      </div>
      <a href="#" class="link category__link"></a>
    </div>
    <ul class="category__list">
      <li class="category__item">
        <div class="category__content">
          <h3 class="category__title">
            Wall system
          </h3>
          <p class="category__text">
            Sourced from our trusted suppliers, the Vieo and Urban wall systems are interlocking long-strip standing
            seam sheets
            with a flat pan and 27mm deep seams.
          </p>
          <a class="category__link" href="#">More detail</a>
        </div>
        <img class="category__img" src="" alt="" loading="lazy" width="870" height="320">
      </li>
      <li class="category__item category__item--rightphoto">
        <div class="category__content">
          <h3 class="category__title">
            Wall system
          </h3>
          <p class="category__text">
            Sourced from our trusted suppliers, the Vieo and Urban wall systems are interlocking long-strip standing
            seam sheets
            with a flat pan and 27mm deep seams.
          </p>
          <a class="category__link" href="#">More detail</a>
        </div>
        <img class="category__img" src="" alt="" loading="lazy" width="870" height="320">
      </li>
      <li class="category__item">
        <div class="category__content">
          <h3 class="category__title">
            Wall system
          </h3>
          <p class="category__text">
            Sourced from our trusted suppliers, the Vieo and Urban wall systems are interlocking long-strip standing
            seam sheets
            with a flat pan and 27mm deep seams.
          </p>
          <a class="category__link" href="#">More detail</a>
        </div>
        <img class="category__img" src="" alt="" loading="lazy" width="870" height="320">
      </li>
    </ul>
  </div>
</section>